openapi: 3.1.0
info:
  title: Skunkworks Academy Labs Control API
  version: 0.1.0
  summary: Contract for checkout, verified payment, entitlements and lab sessions.
  description: |
    This is the contract for the private labs control-plane service.
    It must not be deployed from this public GitHub Pages repository.
servers:
  - url: https://api.labs.skunkworksacademy.com
    description: Production placeholder - configure only after the service is deployed.
  - url: https://api.staging.labs.skunkworksacademy.com
    description: Non-production placeholder.
paths:
  /health:
    get:
      summary: Service health
      security: []
      responses:
        '200':
          description: Service is ready.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: ok }
  /v1/catalog:
    get:
      summary: Read products available to the authenticated learner.
      responses:
        '200':
          description: Product list.
          content:
            application/json:
              schema:
                type: object
                required: [products]
                properties:
                  products:
                    type: array
                    items: { $ref: '#/components/schemas/Product' }
  /v1/checkout-sessions:
    post:
      summary: Create a hosted checkout session.
      description: |
        Creates a pending order and passes the learner to a provider-hosted checkout page.
        It must never mark the order paid or create an entitlement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [productCode, provider]
              properties:
                productCode: { type: string, example: LAB-LNX-101 }
                provider: { type: string, enum: [payfast, paypal] }
      responses:
        '201':
          description: Pending checkout session.
          content:
            application/json:
              schema:
                type: object
                required: [orderId, provider, checkoutUrl]
                properties:
                  orderId: { type: string, format: uuid }
                  provider: { type: string, enum: [payfast, paypal] }
                  checkoutUrl: { type: string, format: uri }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: A usable unpaid checkout session already exists for this product and learner.
  /v1/webhooks/payfast:
    post:
      summary: Receive a PayFast ITN.
      description: |
        This endpoint is public to PayFast only. Validate the provider signature and complete
        server-to-server verification before changing any payment or entitlement state.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: { type: object, additionalProperties: true }
      responses:
        '204': { description: Event accepted or safely ignored as a duplicate. }
        '400': { description: Invalid or unverifiable notification. }
  /v1/webhooks/paypal:
    post:
      summary: Receive a PayPal event.
      description: Validate the PayPal transmission signature with the configured webhook ID before processing.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '204': { description: Event accepted or safely ignored as a duplicate. }
        '400': { description: Invalid or unverifiable event. }
  /v1/entitlements/{entitlementId}/launch:
    post:
      summary: Launch the learner's lab session.
      parameters:
        - $ref: '#/components/parameters/EntitlementId'
      responses:
        '202':
          description: Provisioning accepted or an existing session resumed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LabLaunch' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Entitlement does not belong to the caller or cannot be launched. }
        '409': { description: Session limit reached or provisioning already in progress. }
  /v1/lab-sessions/{sessionId}/terminate:
    post:
      summary: End an active lab session.
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '202': { description: Termination is queued or already completed. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Session does not belong to the caller. }
components:
  securitySchemes:
    entraBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Validate issuer, tenant, audience, expiry, nonce and roles server-side.
  parameters:
    EntitlementId:
      name: entitlementId
      in: path
      required: true
      schema: { type: string, format: uuid }
    SessionId:
      name: sessionId
      in: path
      required: true
      schema: { type: string, format: uuid }
  responses:
    Unauthorized:
      description: Missing, invalid or expired Academy access token.
  schemas:
    Product:
      type: object
      required: [code, title, durationMinutes, delivery, checkoutStatus]
      properties:
        code: { type: string, example: LAB-LNX-101 }
        title: { type: string, example: Linux Command-Line Essentials }
        durationMinutes: { type: integer, example: 45 }
        delivery: { type: string, example: browser-terminal }
        checkoutStatus: { type: string, enum: [available, preparing, unavailable] }
    LabLaunch:
      type: object
      required: [sessionId, state]
      properties:
        sessionId: { type: string, format: uuid }
        state: { type: string, enum: [provisioning, ready, terminating, terminated] }
        launchUrl:
          type: string
          format: uri
          description: Short-lived browser-gateway URL, present only in ready state.
        expiresAt: { type: string, format: date-time }
security:
  - entraBearer: []
